<p>{{name}} has invited you to Guild, a platform that empowers artists like us to create, share, and innovate together.
</p>
<p>Follow this secure: <a href={{appIos}}>iOS Link</a> or <a href={{appAndroid}}>Android link</a> to download the app
  and start to collab.</p>
<p>You can also check out the website and platform online at https://www.guildtogether.com.
</p>

{{!-- <p>{{name}} has invited you to Guild, a platform that empowers artists like us to create, share, and innovate
  together.</p>
<p>
  Follow this secure: <a href={{appIos}}>iOS Link</a> or <a href={{appAndroid}}>Android link</a> to download the app and
  start to collab.
</p>
<p>
  You can also check out the website and platform online at https://www.guildtogether.com.
  <br />
</p> --}}