<p>{{name}} has invited you to join their {{projectName}} music project on Guild, a platform that
  empowers artists
  like us to create, share, and innovate together. Hop in and start working on some new music now!<br /></p>
<p>Why join us? Well beyond the fact that you were specifically invited...</p>
<p>
  Seamless Experience: Manage media files, collaborate with your people, and effortlessly reach your audience.
  <br />
</p>
<p></p>
Earn Through Ownership: Create experiences for your supporters, and earn rewards worth cash by simply using tools with
your crew.
<br />
</p>

<p>
  <a>Click below to accept the invitation and get started - it takes 30 seconds.
  </a><br />

  <a href={{url}}>Accept Invitation</a>
  <br /><br />
</p>
<p>
  You can download the mobile Apps using the below links:
  <br />
</p>
<p>
  <a href={{appIos}}>iOS Link</a>
  <br />
</p>
<p>
  <a href={{appAndroid}}>Android link</a>
  <br /><br />
</p>
<p>
  If you have any questions or need help getting started, feel free to reach out to me directly!
  <br />
</p>
<h4>Phillip Rather</h4>
<h4>Founder and CEO</h4>